
/* 文字 */
h1{
    color: #  !important;
    letter-spacing: 5px !important;
    line-height: 150% !important;
    font-weight: bold !important;
    display: inline-block;
    font-family: "nitalago-ruika", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h2{
    color: # ;
    letter-spacing: 5px;
    line-height: 150%;
    font-weight: bold;
    font-family: "nitalago-ruika", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h3{
    color: # ;
    letter-spacing: 2px;
    line-height: 150%;
    font-weight:bold;
    font-family: "nitalago-ruika", sans-serif;
    font-weight: 100;
    font-style: normal;
}
p{
    letter-spacing: 1px;
    line-height: 200%;
    font-size: 15px;
    font-weight: bold;
    font-family: "nitalago-ruika", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}

/* その他文字 */
.text-red{
    color: #E60001;
    text-shadow: 1px 2px 3px #808080;
    -webkit-text-stroke: 0.01px rgb(255, 255, 255);
}
.text-black{
    color: #000000;
    text-shadow: 1px 2px 3px #808080;
    -webkit-text-stroke: 0.01px rgb(255, 255, 255);
}
.text-yellow{
    color: #E8AF12;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.line1 {
  position: relative;
  color: #FFFFFF;
  padding: 0 1rem;
  z-index: 1;
  display: inline-block;
}
.line1::before {
  background-color: #E60001;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform:skewX(-50deg);
  z-index: -1;
}
.line2 {
  position: relative;
  z-index: 1;
}
.line2::before {
  background-color: #F2E9C2;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  display: inline-block;
  width: 100%;
  height: 50%;
  transform:skewX(-50deg);
  z-index: -1;
}
.line3 {
  position: relative;
  z-index: 1;
}
.line3::before {
  background-color: #FFFFFF;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  display: inline-block;
  width: 100%;
  height: 50%;
  transform:skewX(-50deg);
  z-index: -1;
}

.btn{
    letter-spacing: 5px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    filter: drop-shadow(0px 0px 5px #ccc);
    white-space: nowrap;
    position: relative;
    color: #FFFFFF;
    padding: 0.5rem 3rem;
    font-family: "nitalago-ruika", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.btn::before {
    background-color: #E60001;
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    transform:skewX(-50deg);
    z-index: -1;

}
.btn:hover {
    color: #E8AF12;
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

/* 画像 */
img {
    height:fit-content;
    width: 100%;
}
.cover{
    object-fit: cover;
}

.aspect1{
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.aspect2{
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.img-car{
    height: auto;
    object-fit: cover;
}

/* レイアウト */
section{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}
.row{
    width: 100%;
    margin: 0;
}
.mw{
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1500px;
    margin: auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-25{
    width: 20% !important;
}

/* 背景 */
.bg-main{
    background: #E60001;
}
.bg-sub{
    background: #F2E9C2;
}
.bg-gray{
    background: #F2F2F2;
}
.bg-point{
    background: #FFED00;
}
.bg-pink{
    background: #FFF3F4;
}
.bg-img{
    background: url('img/mv.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img2{
    background: url('../img/ship.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-1{
    width: 100%;
    margin: 0;
    padding: 150px 0;
    position: relative;
    margin-top: 5rem;
}
.bg-1::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF3F4;
    transform: skewY(-7deg);
    z-index: -1;
}
.bg-2{
    width: 100%;
    margin: 0;
    padding: 150px 0;
    position: relative;
    margin-top: 5rem;
    overflow: hidden;

}
.bg-2::before {
        content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2F2F2;
    transform: skewY(-7deg) translateY(90px);
    z-index: -1;
}
.bg-3{
    width: 100%;
    margin: 0;
    padding: 150px 0;
    position: relative;
    margin-top: 5rem;
}
.bg-3::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2E9C2;
    transform: skewY(-7deg);
    z-index: -1;
}

/* 装飾 */
.d-shadow{
    filter: drop-shadow(0px 0px 5px #ccc);
}



/* 追加 */
.navbar-toggler{
    border:none;
}
.text-r{
    top: -4vw;
    left: -40px;
}
.list-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* レスポンシブ */
@media screen and (min-width: 992px){

}

@media (min-width: 992px) {
    .col-lg-reason {
        flex: 0 0 auto;
        width: 32% !important;
    }
}